* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

a {
    color: inherit;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

.logos{
    color: rgb(111, 111, 111);
}

.header {

    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.504);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    padding: 25px 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 12px;
    border-radius: 50px;
    margin-left: 10%;
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 70px;
    z-index: 1000;
}

.ul-list {
    display: flex;
    gap: 20px;
}

.buttons {
    display: flex;
    gap: 20px;
}

.btn-user , .btn-search , .btn-basket {
    background: transparent;
    border: none;
    padding: 10px;
}

@media (max-width: 768px) {
    .header {
    width: 100%;
    margin-left: 0;
    border-radius: 0px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    margin-top: 0;
    
}

.logo{
    
    font-size: 18px;
}

.buttons {
    display: flex;
    gap: 0px;
}
}
